models/__pycache__
__pycache__
*.pptx
*.ipynb
result/
runs/
checkpoint_phpm/
checkpoint_gmm/
checkpoint_tom/
viton_hd_dataset/
viton_hd_result/
viton_result/
ablation/
.idea/
*_result/
*_dataset/
ablation_gmm.py
ablation_phpm.py